<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1">
        <title>Email Marketing</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        

    </head>
    <body class="text-center">
        <div class="container-fluid main-container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-column align-items-center justify-content-center flex-container ">
                        <div class="bd-highlight">
                            <img src="" alt="">
                        </div>
                        <!-- <div class="bd-highlight title"><h1>Signup to <br> AutoPop Release</h1></div> -->
                        <div>
                            <form class="fomr-signin" action="/" method="POST">
                              <img class="mb-4" src="logo.png" alt="" width="120" height="120">
                              <h1>Sign Up to <br> AutoPop News!</h1>
                              
                              <input class="form-control top" type="text" name="firstName" id="firstName" placeholder="First name" required autofocus>
                              <input class="form-control middle" type="text" name="SecondName" id="SecondName" placeholder="Last name" required>
                              <input class="form-control bottom" type="email" name="email" id="email" placeholder="Email address" required>
                              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign me in!</button>
                            </form>                      
                        </div>
                        <div class="bd-highlight footer">
                            AutoPop App®
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>

